.contenedorGrilla {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "mainGrilla asideGrilla";

  .mainGrilla {
    grid-area: mainGrilla;
    display: flex;
    flex-direction: column;
    section {
      .subtitle {
        background-color: $bgSubtitle;
        color: black;
        text-align: center;
      }
      .subtitle1 {
        line-height: 1.3;
        font-size: 2rem;
        font-family: "Farsan", cursive;
        text-align: center;
      }
    }
    #carouselIndex {
      display: flex;
      align-self: center;
      width: 100%;
      max-width: 600px;
    }
    .carousel-item {
      height: 500px;
    }
    .carousel-caption {
      bottom: 10px; /* Position text at the bottom */
      background: rgba(0, 0, 0, 0.5);
      color: white; /* Text color */
      border-radius: 5px; /* Rounded corners for text background */
    }
    .carousel-item img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
    .carousel-control-prev {
      left: 30px;
    }

    .carousel-control-next {
      right: 30px;
    }
  }
  .asideGrilla {
    grid-area: asideGrilla;
    section {
      .subtitle {
        background-color: $bgSubtitle;
        color: black;
        text-align: center;
      }
      p {
        line-height: 1.3;
        font-size: 1.3rem;
        font-family: "Farsan", cursive;
      }
    }
  }
}
