.contactus {
  .subtitle {
    background-color: $bgSubtitle;
    color: black;
    text-align: center;
  }
  p {
    line-height: 1.3;
    font-size: 1.3rem;
    font-family: "Farsan", cursive;
  }
  .formulario1 {
    width: 500;
    text-align: center;
    margin: 10px auto;
  }
}
